block variables


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="./assets/styles/foundation.css")
        link(rel="stylesheet", href="./assets/styles/app.css")
    body
        .wrapper
            block content
        script(src="./assets/js/foundation.js")
        script(src="./assets/js/app.js")