.header{
  padding: 35px 25px;
  background: #000000;
  margin-bottom: 50px;
  @include phone{
    padding: 30px 25px;
  }
  @include minphone{
    padding: 25px 10px;
  }
}
.header__logo{
  a{
    display: block;
    width: 45%;
    margin: 0 auto;
    @include phone{
      width: 40%;
    }
    @include minphone{
      width: 35%;
    }
    img{
      width: 100%;
      margin: 0 auto;
    }
  }
}

.downlaod__head{
  margin-bottom: 40px;
  p{
    text-align: center;
    @include freight;
    font-size: 30px;
    line-height: 1.2;
    @include phone{
      font-size: 28px;
    }
    @include minphone{
      font-size: 25px;
    }
  }
}
.download__body{
  margin-bottom: 40px;
  p{
    @include roboto;
    text-align: center;
    font-size: 20px;
    @include phone{
      font-size: 18px;
    }
    @include minphone{
      font-size: 16px;
    }
  }
}
.download__link{
  padding: 13px;
  background: #000000;
  margin-bottom: 20px;

  a{
    display: block;
    height: 100%;
    color: #fff;
    text-align: center;
    @include lemon(light);
    @include phone{
      font-size: 15px;
    }
    @include minphone{
      font-size: 14px;
    }
  }
}

.about__wrapp{
  background: #000000;
  color: #fff;
  padding: 25px 15px;
  margin-bottom: 25px;
}

.about__item-img{
  width: 85%;
  margin: 0 auto;

  img{
    width: 100%;
  }
}
.about__wrapp{
  .about__item{
    &:first-child{
      .about__item-text{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:nth-child(2){
      .about__item-text{
        width: 87%;
        margin-left: auto;
        margin-right: auto;
        @include phone{
          width: 84%; 
        }
        p{
          margin-top: -10px;
          padding-bottom: 5px;
        }
      }
    }
    &:nth-child(3){
      .about__item-text{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        p{
          padding-bottom: 10px;
        }
      }
    }
    &:nth-child(4){
      .about__item-text{
        p{
          margin-top: -25px;
          padding-bottom: 15px;
          @include phone{
            margin-top: -20px;
          }
          @include minphone{
            margin-top: -10px;
          }
        }
      }
    }
  }
}
.about__item-text{
  p{
    text-align: center;
    font-size: 17px;
    span{
      @include roboto(bold);
    }
    @include phone{
      font-size: 15px;
    }
    @include minphone{
      font-size: 13px;
    }
  }
}

.about__item-footer{
  margin-top: 30px;
}
.about__item-footer-text{
  margin-bottom: 40px;
  @include phone{
    margin-bottom: 35px;
  }
  p{
    text-align: center;
    @include freight;
    font-size: 26px;
    line-height: 1.2;
    @include phone{
      font-size: 24px;
    }
    @include minphone{
      font-size: 21px;
    }
  }
}

.about__item-footer-download{
  text-align: center;
  margin-bottom: 35px;
  a{
    color: #fff;
    display: inline-block;
    text-align: center;
    @include lemon(light);
    font-size: 17px;
    padding: 20px 0;
    border-top: 1px solid rgba(#ffffff, .7);
    border-bottom: 1px solid rgba(#ffffff, .7);
    @include phone{
      font-size: 15px;
      padding: 17px 0;
    }
    @include minphone{
      font-size: 14px;
    }
  }
}



.footer{
  background: #000000;
  padding: 40px 10px;
  color: #fff;
}

.footer__socials-list{
  display: flex;
  justify-content: center;
  margin-left: -12px;
  margin-bottom: 30px;

}
.footer__socials-item{
  margin-left: 12px;
}
.footer__socials-link{
  display: inline-block;
  img{
    width: 23px;
    height: 23px;
    @include phone{
      width: 20px;
      height: 20px;
    }
  }
}

.footer__about-link{
  margin-bottom: 30px;
  text-align: center;
  @include phone{
    margin-bottom: 27px;
  }
  a{
    color:  #fff;
    text-transform: uppercase;
    @include lemon(light);
    font-size: 14px;
    letter-spacing: 7px;
    @include phone{
      font-size: 13px;
    }
    @include minphone{
      font-size: 11px; 
    }
  }
}

.footer__copyright-text{
  text-align: center;
  span{
    text-transform: uppercase;
    @include lemon(light);
    font-size: 14px;
    letter-spacing: 7px;
    @include phone{
      font-size: 13px;
    }
    @include minphone{
      font-size: 12px;
    }
  }
  .copyright-symbol{
    font-size: 16px;
    padding-top: 5px;
    @include minphone{
      font-size: 14px;
    }
  }
}