extends ../main-layout

block content
  header.header
    .header__logo
      a(href="#")
        img(src="assets/img/logo/logo.png", alt="Fiena Logo")
  main.main
    section.download
      .container
        .downlaod__head
          p Congratulations on officially 
          p becoming a FIENA member
        .download__body
          p Keep upto date with the latest
          p happenings in the FIENA world...
        .download__link
          a(href="#") & DOWNLOAD THE APP NOW
    section.about
      .container
        .about__wrapp
          .about__item
            .about__item-text.mb-15
              p 
                span 1. 
                | Access VIP insider news & Exclusive club updates
            .about__item-img
              img(src="assets/img/contents/reflection.png", alt="Image")
          .about__item
            .about__item-text.mb-20
              p 
                span 2. 
                | Meet the members, connect with your new inner circle
            .about__item-img
              img(src="assets/img/contents/fedlection_1.png", alt="Image")
          .about__item
            .about__item-text.mb-30
              p 
                span 3. 
                | Book your Monthly Club Events & Signature Division  Experiences -
                br 
                | which automatically sync to your 
                br 
                | iPhone calendar - so you never miss a date!
            .about__item-img
              img(src="assets/img/contents/fedlection_2.png", alt="Image")
          .about__item
            .about__item-text.mb-30
              p 
                span 4. 
                | Explore your Fiena venues, 
                br
                | discounts and club treasures across the city
            .about__item-img
              img(src="assets/img/contents/fedlection_3.png", alt="Image")
          .about__item-footer
            .about__item-footer-text
              p 
                | Welcome to your new world, 
                br
                | as a Fiena.
            .about__item-footer-download
              a(href="#") DOWNLOAD THE APP TO START
  footer.footer
    .footer__socials
      ul.footer__socials-list
        li.footer__socials-item
          a(href="#").footer__socials-link
            img(src="assets/img/icons/envelope-regular.svg", alt="Email")
        li.footer__socials-item
          a(href="#").footer__socials-link
            img(src="assets/img/icons/facebook-brands.svg", alt="Facebook")
        li.footer__socials-item
          a(href="#").footer__socials-link
            img(src="assets/img/icons/instagram-brands.svg", alt="Instagram")
        li.footer__socials-item
          a(href="#").footer__socials-link
            img(src="assets/img/icons/linkedin-brands.svg", alt="Linkedin")
    .footer__about
      .footer__about-link
        a(href="#") about us
    .footer__copyright
      .footer__copyright-text
        span.copyright-symbol © 
        span 2018, 
        span Fiena 
        span Group 
